* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;

}


.app--header{
  background-color: rgb(162, 238, 143);
  display: flex;
  align-items: center;
  height: 10vh;
  padding: 30px;
  top: 0;
}

.app--content{
  position: fixed;
  background-image: url('./field.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100vw;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app--header > h2 {
  font-size: 35px;
  font-weight: 700;
}

.app--header > img {
  width: 55px;
  margin-left: auto;
}

.dropzone-sheet{
  height: 300px;
  width: 450px;
  display: flex;
  background-color: rgba(104, 115, 124, 0.349);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.app-dropzone{
  height: 250px;
  width: 400px;
  background-color: rgba(104, 115, 124, 0.233);
  cursor: pointer;
  border-radius: 10px;
  border-style: dashed;
  border-color: rgba(38, 41, 43, 0.397);
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.app-dropzone > p{
  font-size: 30px;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  color:rgb(238, 238, 238)
}



.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}


.predict-tag{
  height: 320px;
  width: 256px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.predict-image{
  border-radius: 5px 5px 0 0;;
  margin: 0px;
}

.predict-info{
  width: 256px;
  height: 64px;
  background-color: rgba(218, 223, 224, 0.801);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -4px;
  border-radius: 0 0 5px 5px;
}
.predict-info > p{
  margin: 4px;
  margin-left: 15px;
}

.clear-button{
  height: 50px;
  width: 256px;
  background-color: rgba(218, 223, 224, 0.979);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}